@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
  //font-family: 'Anton';
  font-family: 'Roboto mono';
  font-weight: bold;
  letter-spacing: 2px;
}

.status{
  background: linear-gradient(to top, #3efefc 30%,blue);
  height: 494px;
  width: 604px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s forwards linear;
}

.disCharge{
  background: linear-gradient(to top, #FFFFFF, #e94099 30%,red 50%, #f0a041 60%);
  height: 494px;
  width: 604px;
  &._1{
    position: relative;
    overflow: hidden;
  }
  animation: fadeIn 1s forwards linear;
}

.status2{
  background: linear-gradient(to top, #3efefc 30%,blue);
  height: 494px;
  width: 604px;
  animation: fadeIn 1s forwards linear;
  //position: relative;
  overflow: hidden;
}

.readyTransAm{
  animation: blink 1s forwards infinite;
}

@keyframes blink{
  0%{
      opacity: 0.5;
  }
  16%{
      opacity: 1;
  }
  84%{
      opacity: 1;
  }
  100%{
      opacity: 0.5;
  }
}

@keyframes fadeIn{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}